{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container">

    <form method="post">
        <h1>Texty</h1>
        <p>Please login to be able to send SMS messages</p>

        <div class="form-group">
            <label for="inputEmail">Email </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if error %}
            <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        {% endif %}
        
        <p><a href="/register">Not Registered?</a></p>

        <button type="submit">
            Sign in
        </button>
    </form>
    
</div>
{% endblock %}
