{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="messages">
        {# BASIC BOILERPLATE NEEDS TO CHANGE #}
        <h1>Admin</h1>
        <p>Here are all the messages sent</p>
        <table>
            <tr>
                <th class="table-header__phone">Phone number</th>
                <th class="table-header__message">Message</th>
                <th class="table-header__status">Status</th>
            </tr>
            {% for message in messages %}
                <tr>
                    <td class="table-cell__phone">{{message.phonenumber}}</td>
                    <td class="table-cell__message">{{message.text}}</td>
                    <td class="table-cell__status">{{message.status}}</td>
                </tr>
            {% endfor %}
        </table>

        <p class="bottom-links"><a href="/">Back?</a></p>
        <p class="bottom-links"><a href="/logout">Logout?</a></p>
        
    </div>
</div>

{% endblock %}